In [1]:
import pandas as pd

In [2]:
url = 'https://sta.ci.taiwan.gov.tw/STA_AirQuality_v2/v1.0/Datastreams?$expand=Thing,Observations($orderby=phenomenonTime%20desc;$top=1)&$filter=name%20eq%20%27PM2.5%27%20and%20Thing/properties/authority%20eq%20%27%E8%A1%8C%E6%94%BF%E9%99%A2%E7%92%B0%E5%A2%83%E4%BF%9D%E8%AD%B7%E7%BD%B2%27%20and%20substringof(%27%E7%A9%BA%E6%B0%A3%E5%93%81%E8%B3%AA%E6%B8%AC%E7%AB%99%27,Thing/name)&$count=true'

In [3]:
datas=pd.read_json(url)['value']
datas

0     {'description': '細懸浮微粒 PM2.5', '@iot.id': 11, ...
1     {'description': '細懸浮微粒 PM2.5', '@iot.id': 29, ...
2     {'description': '細懸浮微粒 PM2.5', '@iot.id': 47, ...
3     {'description': '細懸浮微粒 PM2.5', '@iot.id': 65, ...
4     {'description': '細懸浮微粒 PM2.5', '@iot.id': 83, ...
                            ...
72    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1307...
73    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1325...
74    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1343...
75    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1361...
76    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1379...
Name: value, Length: 77, dtype: object

## 取得城市和站點

In [4]:
city,stationName=datas[0]['Thing']['properties']['city'], datas[0]['Thing']['properties']['stationName']
city,stationName

('基隆市', '基隆')

## 取得pm2.5和更新時間

In [5]:
result,resultTime=datas[0]['Observations'][0]['result'], datas[0]['Observations'][0]['resultTime']
result,resultTime

(10, '2022-07-10T03:00:00.000Z')

## 輸出所有站點資料

In [6]:
values=[]
for data in datas:
    # print('縣市','站點','pm2.5','時間')
    city, stationName=data['Thing']['properties']['city'],data['Thing']['properties']['stationName']

    result, resultTime = data['Observations'][0]['result'], data['Observations'][0]['resultTime']
    resultTime=pd.to_datetime(resultTime)

    values.append([city,stationName,result,resultTime])
values

[['基隆市', '基隆', 10, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '汐止', 11, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '萬里', 19, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '新店', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '土城', 2, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '板橋', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '新莊', 3, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '菜寮', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '林口', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '淡水', 7, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '士林', 10, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '中山', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '萬華', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '古亭', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '松山', 10, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '大同', 13, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['桃園市', '桃園', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['桃園市', '大園', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['桃園市', '觀音', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['桃園市', '平鎮', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['桃園市', '龍潭', 2, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新竹縣', '湖口', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新竹縣', '竹東', 2, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新竹市', '新竹', 4, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['苗栗縣', '頭份', 5, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['苗栗縣', '苗栗', 5, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['苗栗縣', '三義', 5, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺中市', '豐原', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺中市', '沙鹿', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺中市', '大里', 4, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺中市', '忠明', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺中市', '西屯', 3, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['彰化縣', '彰化', 3, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['彰化縣', '線西', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['彰化縣', '二林', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['南投縣', '南投', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['雲林縣', '斗六', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['雲林縣', '崙背', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['嘉義縣', '新港', 14, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['嘉義縣', '朴子', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['雲林縣', '臺西', 5, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['嘉義市', '嘉義', 14, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺南市', '新營', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺南市', '善化', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺南市', '安南', 10, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺南市', '臺南', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '美濃', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '橋頭', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '仁武', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '鳳山', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '大寮', 5, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '林園', 0, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '楠梓', 1, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '左營', 10, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '前金', 1, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '前鎮', 3, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '小港', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['屏東縣', '屏東', 3, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['屏東縣', '潮州', 4, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['屏東縣', '恆春', 0, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺東縣', '臺東', 1, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['花蓮縣', '花蓮', 2, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺北市', '陽明', 12, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['宜蘭縣', '宜蘭', 7, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['宜蘭縣', '冬山', 11, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '三重', 11, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['桃園市', '中壢', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['南投縣', '竹山', 7, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '永和', 8, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['高雄市', '復興', 4, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['南投縣', '埔里', 9, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['新北市', '富貴角', 3, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['臺東縣', '關山', 0, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['金門縣', '金門', 6, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['連江縣', '馬祖', 17, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['澎湖縣', '馬公', 2, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')],
 ['雲林縣', '麥寮', 0, Timestamp('2022-07-10 03:00:00+0000', tz='UTC')]]

In [7]:
df = pd.DataFrame(values, columns=['city', 'stationName', 'result', 'resultTime'])
df

   city stationName  result                resultTime
0   基隆市          基隆      10 2022-07-10 03:00:00+00:00
1   新北市          汐止      11 2022-07-10 03:00:00+00:00
2   新北市          萬里      19 2022-07-10 03:00:00+00:00
3   新北市          新店       8 2022-07-10 03:00:00+00:00
4   新北市          土城       2 2022-07-10 03:00:00+00:00
..  ...         ...     ...                       ...
72  臺東縣          關山       0 2022-07-10 03:00:00+00:00
73  金門縣          金門       6 2022-07-10 03:00:00+00:00
74  連江縣          馬祖      17 2022-07-10 03:00:00+00:00
75  澎湖縣          馬公       2 2022-07-10 03:00:00+00:00
76  雲林縣          麥寮       0 2022-07-10 03:00:00+00:00

[77 rows x 4 columns]

In [8]:
df.sort_values(by='result',ascending=False)

   city stationName  result                resultTime
2   新北市          萬里      19 2022-07-10 03:00:00+00:00
74  連江縣          馬祖      17 2022-07-10 03:00:00+00:00
38  嘉義縣          新港      14 2022-07-10 03:00:00+00:00
41  嘉義市          嘉義      14 2022-07-10 03:00:00+00:00
15  臺北市          大同      13 2022-07-10 03:00:00+00:00
..  ...         ...     ...                       ...
52  高雄市          楠梓       1 2022-07-10 03:00:00+00:00
51  高雄市          林園       0 2022-07-10 03:00:00+00:00
72  臺東縣          關山       0 2022-07-10 03:00:00+00:00
59  屏東縣          恆春       0 2022-07-10 03:00:00+00:00
76  雲林縣          麥寮       0 2022-07-10 03:00:00+00:00

[77 rows x 4 columns]

In [9]:
df['resultTime'].apply(pd.to_datetime)

0    2022-07-10 03:00:00+00:00
1    2022-07-10 03:00:00+00:00
2    2022-07-10 03:00:00+00:00
3    2022-07-10 03:00:00+00:00
4    2022-07-10 03:00:00+00:00
                ...
72   2022-07-10 03:00:00+00:00
73   2022-07-10 03:00:00+00:00
74   2022-07-10 03:00:00+00:00
75   2022-07-10 03:00:00+00:00
76   2022-07-10 03:00:00+00:00
Name: resultTime, Length: 77, dtype: datetime64[ns, UTC]

## 輸出六都平均值

In [10]:
df

   city stationName  result                resultTime
0   基隆市          基隆      10 2022-07-10 03:00:00+00:00
1   新北市          汐止      11 2022-07-10 03:00:00+00:00
2   新北市          萬里      19 2022-07-10 03:00:00+00:00
3   新北市          新店       8 2022-07-10 03:00:00+00:00
4   新北市          土城       2 2022-07-10 03:00:00+00:00
..  ...         ...     ...                       ...
72  臺東縣          關山       0 2022-07-10 03:00:00+00:00
73  金門縣          金門       6 2022-07-10 03:00:00+00:00
74  連江縣          馬祖      17 2022-07-10 03:00:00+00:00
75  澎湖縣          馬公       2 2022-07-10 03:00:00+00:00
76  雲林縣          麥寮       0 2022-07-10 03:00:00+00:00

[77 rows x 4 columns]

In [11]:
set(df['city'])

{'南投縣',
 '嘉義市',
 '嘉義縣',
 '基隆市',
 '宜蘭縣',
 '屏東縣',
 '彰化縣',
 '新北市',
 '新竹市',
 '新竹縣',
 '桃園市',
 '澎湖縣',
 '臺中市',
 '臺北市',
 '臺南市',
 '臺東縣',
 '花蓮縣',
 '苗栗縣',
 '連江縣',
 '金門縣',
 '雲林縣',
 '高雄市'}

In [12]:
six_citys = ['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市']
six_citys

['臺北市', '新北市', '桃園市', '臺中市', '臺南市', '高雄市']

In [13]:
round(df.groupby('city').get_group(six_citys[-1])['result'].mean(),2)

4.67

In [14]:
for city in six_citys:
    print(city,round(df.groupby('city').get_group(city)['result'].mean(),2))

臺北市 10.14
新北市 7.92
桃園市 6.0
臺中市 5.8
臺南市 8.5
高雄市 4.67

## 全台不重複縣市

In [15]:
list(set(df['city']))

['新竹市',
 '高雄市',
 '苗栗縣',
 '臺東縣',
 '嘉義市',
 '連江縣',
 '屏東縣',
 '臺南市',
 '臺中市',
 '金門縣',
 '南投縣',
 '澎湖縣',
 '基隆市',
 '彰化縣',
 '花蓮縣',
 '臺北市',
 '新北市',
 '新竹縣',
 '嘉義縣',
 '雲林縣',
 '桃園市',
 '宜蘭縣']

## 取得單一縣市所有站點PM2.5值

In [16]:
datas = df.groupby('city').get_group(
    '新北市')[['stationName', 'result']].values.tolist()
datas

[['汐止', 11],
 ['萬里', 19],
 ['新店', 8],
 ['土城', 2],
 ['板橋', 6],
 ['新莊', 3],
 ['菜寮', 9],
 ['林口', 8],
 ['淡水', 7],
 ['三重', 11],
 ['永和', 8],
 ['富貴角', 3]]

In [17]:
stationName,result=list(zip(*datas))
stationName,result

(('汐止', '萬里', '新店', '土城', '板橋', '新莊', '菜寮', '林口', '淡水', '三重', '永和', '富貴角'),
 (11, 19, 8, 2, 6, 3, 9, 8, 7, 11, 8, 3))