In [1]:
import pandas as pd

In [2]:
url = 'https://sta.ci.taiwan.gov.tw/STA_AirQuality_v2/v1.0/Datastreams?$expand=Thing,Observations($orderby=phenomenonTime%20desc;$top=1)&$filter=name%20eq%20%27PM2.5%27%20and%20Thing/properties/authority%20eq%20%27%E8%A1%8C%E6%94%BF%E9%99%A2%E7%92%B0%E5%A2%83%E4%BF%9D%E8%AD%B7%E7%BD%B2%27%20and%20substringof(%27%E7%A9%BA%E6%B0%A3%E5%93%81%E8%B3%AA%E6%B8%AC%E7%AB%99%27,Thing/name)&$count=true'

In [3]:
datas=pd.read_json(url)['value']
datas

0     {'description': '細懸浮微粒 PM2.5', '@iot.id': 11, ...
1     {'description': '細懸浮微粒 PM2.5', '@iot.id': 29, ...
2     {'description': '細懸浮微粒 PM2.5', '@iot.id': 47, ...
3     {'description': '細懸浮微粒 PM2.5', '@iot.id': 65, ...
4     {'description': '細懸浮微粒 PM2.5', '@iot.id': 83, ...
                            ...
72    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1307...
73    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1325...
74    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1343...
75    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1361...
76    {'description': '細懸浮微粒 PM2.5', '@iot.id': 1379...
Name: value, Length: 77, dtype: object

## 取得城市和站點

In [4]:
city,stationName=datas[0]['Thing']['properties']['city'], datas[0]['Thing']['properties']['stationName']
city,stationName

('基隆市', '基隆')

## 取得pm2.5和更新時間

In [5]:
result,resultTime=datas[0]['Observations'][0]['result'], datas[0]['Observations'][0]['resultTime']
result,resultTime

(10, '2022-06-22T03:00:00.000Z')

## 輸出所有站點資料

In [6]:
values=[]
for data in datas:
    # print('縣市','站點','pm2.5','時間')
    city, stationName=data['Thing']['properties']['city'],data['Thing']['properties']['stationName']

    result, resultTime = data['Observations'][0]['result'], data['Observations'][0]['resultTime']
    resultTime=pd.to_datetime(resultTime)

    values.append([city,stationName,result,resultTime])
values

[['基隆市', '基隆', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '汐止', 11, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '萬里', 14, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '新店', 13, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '土城', 4, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '板橋', 7, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '新莊', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '菜寮', 11, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '林口', 8, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '淡水', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺北市', '士林', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺北市', '中山', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺北市', '萬華', 11, Timestamp('2022-06-22 02:00:00+0000', tz='UTC')],
 ['臺北市', '古亭', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺北市', '松山', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺北市', '大同', 15, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['桃園市', '桃園', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['桃園市', '大園', 4, Timestamp('2022-06-22 02:00:00+0000', tz='UTC')],
 ['桃園市', '觀音', 7, Timestamp('2022-06-22 02:00:00+0000', tz='UTC')],
 ['桃園市', '平鎮', 5, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['桃園市', '龍潭', 3, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新竹縣', '湖口', 1, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新竹縣', '竹東', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新竹市', '新竹', 2, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['苗栗縣', '頭份', 1, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['苗栗縣', '苗栗', 7, Timestamp('2022-06-22 02:00:00+0000', tz='UTC')],
 ['苗栗縣', '三義', 5, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺中市', '豐原', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺中市', '沙鹿', 7, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺中市', '大里', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺中市', '忠明', 14, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺中市', '西屯', 15, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['彰化縣', '彰化', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['彰化縣', '線西', 8, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['彰化縣', '二林', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['南投縣', '南投', 8, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['雲林縣', '斗六', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['雲林縣', '崙背', 4, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['嘉義縣', '新港', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['嘉義縣', '朴子', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['雲林縣', '臺西', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['嘉義市', '嘉義', 14, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺南市', '新營', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺南市', '善化', 15, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺南市', '安南', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺南市', '臺南', 8, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '美濃', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '橋頭', 11, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '仁武', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '鳳山', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '大寮', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '林園', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '楠梓', 10, Timestamp('2022-06-22 02:00:00+0000', tz='UTC')],
 ['高雄市', '左營', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '前金', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '前鎮', 16, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '小港', 10, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['屏東縣', '屏東', 4, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['屏東縣', '潮州', 11, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['屏東縣', '恆春', 1, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺東縣', '臺東', 11, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['花蓮縣', '花蓮', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺北市', '陽明', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['宜蘭縣', '宜蘭', 12, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['宜蘭縣', '冬山', 8, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '三重', 7, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['桃園市', '中壢', 6, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['南投縣', '竹山', 11, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['新北市', '永和', 13, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['高雄市', '復興', 27, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['南投縣', '埔里', 2, Timestamp('2022-06-22 02:00:00+0000', tz='UTC')],
 ['新北市', '富貴角', 7, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['臺東縣', '關山', 8, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['金門縣', '金門', 5, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['連江縣', '馬祖', 9, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['澎湖縣', '馬公', 3, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')],
 ['雲林縣', '麥寮', 5, Timestamp('2022-06-22 03:00:00+0000', tz='UTC')]]

In [7]:
df = pd.DataFrame(values, columns=['city', 'stationName', 'result', 'resultTime'])
df

   city stationName  result                resultTime
0   基隆市          基隆      10 2022-06-22 03:00:00+00:00
1   新北市          汐止      11 2022-06-22 03:00:00+00:00
2   新北市          萬里      14 2022-06-22 03:00:00+00:00
3   新北市          新店      13 2022-06-22 03:00:00+00:00
4   新北市          土城       4 2022-06-22 03:00:00+00:00
..  ...         ...     ...                       ...
72  臺東縣          關山       8 2022-06-22 03:00:00+00:00
73  金門縣          金門       5 2022-06-22 03:00:00+00:00
74  連江縣          馬祖       9 2022-06-22 03:00:00+00:00
75  澎湖縣          馬公       3 2022-06-22 03:00:00+00:00
76  雲林縣          麥寮       5 2022-06-22 03:00:00+00:00

[77 rows x 4 columns]

In [8]:
df.sort_values(by='result',ascending=False)

   city stationName  result                resultTime
69  高雄市          復興      27 2022-06-22 03:00:00+00:00
55  高雄市          前鎮      16 2022-06-22 03:00:00+00:00
43  臺南市          善化      15 2022-06-22 03:00:00+00:00
31  臺中市          西屯      15 2022-06-22 03:00:00+00:00
15  臺北市          大同      15 2022-06-22 03:00:00+00:00
..  ...         ...     ...                       ...
70  南投縣          埔里       2 2022-06-22 02:00:00+00:00
23  新竹市          新竹       2 2022-06-22 03:00:00+00:00
59  屏東縣          恆春       1 2022-06-22 03:00:00+00:00
21  新竹縣          湖口       1 2022-06-22 03:00:00+00:00
24  苗栗縣          頭份       1 2022-06-22 03:00:00+00:00

[77 rows x 4 columns]

In [9]:
df['resultTime'].apply(pd.to_datetime)

0    2022-06-22 03:00:00+00:00
1    2022-06-22 03:00:00+00:00
2    2022-06-22 03:00:00+00:00
3    2022-06-22 03:00:00+00:00
4    2022-06-22 03:00:00+00:00
                ...
72   2022-06-22 03:00:00+00:00
73   2022-06-22 03:00:00+00:00
74   2022-06-22 03:00:00+00:00
75   2022-06-22 03:00:00+00:00
76   2022-06-22 03:00:00+00:00
Name: resultTime, Length: 77, dtype: datetime64[ns, UTC]